<section class="mb-4">
  <h2>Group detail</h2>

  <div class="my-4">
    <div class="group-details">
      <div class="group-details-icon">
        <%= image_tag group.get_group_image, size: "96x96" %>
      </div>
      <div class="group-details-body">
        <div class="group-details-content">
          <h3 class="group-details-name"><%= group.name %></h3>
          <p class="group-details-introduction"><%= group.introduction %></p>
        </div>
      </div>
      <div class="group-details-action">
        <% if group.is_owned_by?(current_user) %>
          <%= link_to edit_group_path(group), class: "btn btn-outline-primary btn-sm btn-block" do %>
            <i class="fa-solid fa-pencil"></i> Edit
          <% end %>
        <% elsif group.include_user?(current_user) %>
          <%= link_to group_group_users_path(group), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
            Leave
          <% end %>
        <% else %>
          <%= link_to group_group_users_path(group), method: :post, class: "btn btn-outline-success btn-sm" do %>
            Join
          <% end %>
        <% end %>
      </div>
      <div class="group-details-user">
        <h3>Group users</h3>
        <ul class="group-details-user-list">
          <% group.users.each do |user| %>
            <li class="group-details-user-item">
              <div class="group-details-user-icon">
                <%= image_tag user.get_profile_image, size:"32x32" %>
              </div>
              <div class="group-details-user-name"><%= link_to user.name, user_path(user) %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</section>